#listaIG{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
#listaTK {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
#listaKW {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

#navigation ul {
    list-style: none;
}
body {
    align-items: center;
    justify-content:center;
}
* {
    margin: 0;
    padding: 0;
}

p a {
    color:blue;
}
nav a {
    z-index: 1;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color:red;
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--cor-primaria--);
    height: 8vh;
}
main {
    background: url("fundo.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}


/*Geral*/
* {
    box-sizing: border-box;
}            
:root {
    font-size: 62.2%; /*1rem = 10px*/
    --cor-primaria--: #23232e;
    --cor-titulo--: hsla(210, 11%, 15%, 1);
    --cor-paragrafo--: black;
    --cor-kwai--: blue;

    --nav-largura--: 7.2rem;
    --largura-tela--: 758px
}
.wrapper {
    /*Altura*/
    width: 37.5rem;
    /*Margem esquerda*/
    margin-inline: auto;
    padding-inline: 2.4rem;

}

/*Corpo*/ 
body {
    height: 100%;
    width: 100%;
    justify-content:center;
}
/*Cabeçario*/   
header {
    margin-top: auto
}
#header::before {
    content: "";
    width: 100%;
    height: (108px + var(--nav-largura--));
    /*cor de fundo do site*/
    display: block;

    
}
/*titulo 1*/ 
h1 {
    /*Margem esquerda*/
    margin-left: 1rem;
    /*Margem direita*/
    margin-right: 1rem;
    /*Tamanho da fonte*/
    font-size: 3.4rem;
    /*Cor*/
    color: var(--cor-titulo--);
    /*Margem abaixo*/
    margin-bottom: 2.4rem;
}
/*Titulo 3*/ 
h3 {
    /*Margem esquerda*/
    margin-left: 1rem;
    /*Margem direita*/
    margin-right: 1rem;

    justify-content: center;
    /*Cor*/
    color: black;
    /*Tamanho da fonte*/
    font-size: 1.7rem;
    /*Margem abaixo*/
    margin-bottom: 1.6rem;}
/*Titulo 4*/ 
h4 {
    /*Margem esquerda*/
    margin-left: 1rem;
    /*Margem direita*/
    margin-right: 1rem;
    /*Cor*/
    color: black;
    /*Tamanho da fonte*/
    font-size: 1.8rem;
    /*Margem abaixo*/
    margin-bottom: 1.6rem;
}
/*Parágrafo*/ 
p {
    /*Margem esquerda*/
    margin-left: 1rem;
    /*Margem direita*/
    margin-right: 1rem;
    /*Tamanho da fonte*/
    font-size: 1.8rem;
    font-weight: 400;
    /*Altura da linha*/
    line-height: 150%;
    /*Cor*/
    color: var(--cor-paragrafo--);
    /*Margem abaixo*/
    margin-bottom: 3.2rem;
}
/*Cor de fundo*/
.insta {background: orangered}
.kwai {background: orange}
.tiktok {background: grey}

/*Botão*/
header button {
    
    /*Altura*/
    height: 6.2rem;
    /*Largura*/
    width: 26.3rem;

    /*Borda*/
    border: none;
    /*Raio da borda*/
    border-radius: 4rem;
    

    /*Margem abaixo*/
    margin-bottom: 6rem;
    
    /*Tamanho da fonte*/
    font-size: 1.4rem;
    font-weight: 700;
    /*Cor*/
    color: white;
    /*Transformação do texto*/
    text-transform: uppercase;
    
    /*Alinhamento*/
    align-items: center;
    /*Ajustamento do conteudo*/
    justify-content: center;
    /*Espaço entre os elementos*/
    gap: 1.2rem;
    /*Display*/
    display: inline;
    /*Margem esquerda*/
    margin-left: auto;
    /*Margem direita*/
    margin-right: auto;
    user-select: none;

    
}
/*Animação do botão*/
.btn:hover {
    transition: 0.5s;
    background: rgb(0, 0, 0);
}
.linkBotao {
    text-decoration: none;
    appearance: button;
    color: white;
}

#img {
    max-width: 1.6rem;
    width: auto;
    height: auto;
    gap: 0.2rem; 
}

nav.scroll button path{
    stroke: white;
    opacity: 0;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}
body .menu-expanded .logo {
    position: relative;
    z-index: 10;

}

@media (min-width: 818px) {
    button.btn {
        /*Altura*/
        height: 6.2rem;
        /*Largura*/
        width: 26.3rem;

        /*Borda*/
        border: none;
        /*Raio da borda*/
        border-radius: 4rem;
        

        /*Margem abaixo*/
        margin-bottom: 6rem;
        
        /*Tamanho da fonte*/
        font-size: 1.4rem;
        font-weight: 700;
        /*Cor*/
        color: white;
        /*Transformação do texto*/
        text-transform: uppercase;
        
        /*Alinhamento*/
        align-items: center;
        /*Ajustamento do conteudo*/
        justify-content: center;
        /*Espaço entre os elementos*/
        gap: 1.2rem;
        /*Display*/
        display: inline;
        /*Margem esquerda*/
        margin-left: 1rem;
        /*Margem direita*/
        margin-right: 1rem;
        user-select: none;
        
    }
    nav button {
        display: none;
    }
    nav div.botao {
        visibility: hidden;
        display: none;
    }
    ul {
        font-size:24px;
        gap: 17px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .logo {
        font-size: 30px
    }
     
}

/*Quando o menu ta fechado*/
@media (max-width: 818px) {
    
    .search-box {
        display: none;
        opacity: 1;
        visibility: ;
    }
    .btn {
        margin-bottom: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*Altura*/
        height: 7.2rem;
        /*Largura*/
        width: 32.3rem;
        font-size: 20px;
    }
    .menu,
    .close-menu,
    body.menu-expanded button.open-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    /*Quando o menu ta ativo*/

    body.menu-expanded .menu,
    body.menu-expanded button.close-menu {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    body.menu-expanded {
        overflow: hidden;
    }
    body.menu-expanded > :not(nav) {
        display: none;
    }

    body.menu-expanded .menu ul{
        width: 100%;
        height: 90%;
        margin: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        justify-content: space-around;
    }

    body.menu-expanded .menu { 
        display: flex;
        align-items: center;
        justify-content: center; 
        z-index: 0 ;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--cor-primaria--);

        width: 100vw;
        height: 100vh;

        padding-top: 5%;
 
    }
    nav div.menu {
        transform: translateY(100%);
    }
    body.menu-expanded nav div.menu {
        transition: transform 450ms;
        transform: translateY(0%);    
    }
    

    body.menu-expanded button {
        align-items: center;
        justify-content: center; 
        z-index: 0 ;
        top: 0;
        left: 0;
        z-index: 100;
        position: relative;
    }
}

/*Final*/
svg {
    cursor: pointer;
}
.ending svg {
    max-margin: 430px;
    height: 10%;
    width: 10%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (min-width: 668px) {
    .imagens {
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    .ending {
        height: 20%;
        width: 100vw;
        display: block;
        position: relative;
        background: var(--cor-primaria--);
        align-items: center;
        justify-content: left;
    }
    .ending h3 {
        display: block;
        color: white;
        font-size: 20px;
    }
    .ending p {
        display: block;
        color: white;
        margin-bottom: 0;
    }

    
}

@media (max-width: 668px) {
    .ending {
        height: 20%;
        width: 100vw;
        display: block;
        position: relative;
        background: var(--cor-primaria--);
        align-items: center;
        justify-content: space-around;
    }
    .ending {
        height: 20%;
        width: 100%;
        display: block;
        position: relative;
        background: var(--cor-primaria--);
        
        align-items: center;
        justify-content: space-between;
    }
    .ending h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
    }
    .ending p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-bottom: 0;
    }
    .imagens {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .ending svg {
        height: 15%;
        width: 15%;
    }
}
svg:hover {
    stroke: hwb(0 0% 100%);
    opacity: 0.6;
    transition: 0.8s;
}
.ending svg {
    height: 10%;
    width: 10%;
}



/*Barra de pesquisa*/

.search-box {
    position: relative;
    top: auto;
    left: 10px;

    background: black;
    width: 80vw;
    height: 50px;
    border-radius: 40px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
::-webkit-input-placeholder{
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #aeaeae;
}
.search-txt {
    color: wheat;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;

    font-size: 16px;

    width: 0;
    transition: 0.4s;
    width: 60vw;
    padding-left: 20px;
}
.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.loupe-white {
    display: none;
}
.loupe-blue {
    display: none;
}
.search-box:hover > .search-txt {

}
.search-box:hover > .search-btn {
    /*background: #447ce7;*/
}

.search-box:hover > .search-btn .loupe-blue {
    display: none;
}
.search-box:hover > .search-btn .loupe-white {
    /*display: block;*/
}
